QWidget{
    background-color:rgb(226, 243, 249);
}

#frame{
    background-color:rgb(86, 168, 240);
}
#frame_2{
    background-color: white;
    border-color: white;
}

#label,#instructLabel{
    background-color:rgb(86, 168, 240);
    color: white;
}
#cardSlot{
    background-color: gray;
}

QLineEdit{
    background-color:rgb(171, 206, 237);
    border: 2px solid rgb(66, 158, 238);
    border-radius: 2px;
}
QPushButton{
    background-color: rgb(86, 168, 240);
    color: white;
}
#cancelBtn,#clearBtn,#proceedBtn{
    background-color: rgb(37, 145, 240);
}

#proceedBtn:disabled{
    background-color: gray;
    color: white;
}

